<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.badlogic.androidgames.mrnom">
    <application android:icon="@drawable/icon" android:label="Mr. Nom" android:debuggable="true"
   >
       
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>  
    
</manifest> 